image: rolve/maven-with-xvfb:3-jdk-7

variables:
  MAVEN_REPO: $CI_PROJECT_DIR/maven-repo
  MAVEN_OPTS: "-Xmx1g -XX:MaxPermSize=512m"

cache:
  paths:
    - $MAVEN_REPO/

build:
  stage: build
  script: xvfb-run mvn install -B -DskipTests -Dmaven.repo.local=$MAVEN_REPO

test:
  stage: test
  script: xvfb-run mvn test -B -Dmaven.repo.local=$MAVEN_REPO

test-examples:
  stage: test
  script:
    - cd examples
    - for e in *; do pushd $e; mvn install -B -Dmaven.repo.local=$MAVEN_REPO; popd; done

pages:
  stage: deploy
  script: mvn deploy -DskipTests -Dmaven.repo.local=$MAVEN_REPO -DaltDeploymentRepository=snapshot-repo::default::file:./public
  artifacts:
    paths:
      - public
  only:
    - master