image: rolve/maven-with-xvfb:3-jdk-7

variables:
  MAVEN_REPO: $CI_PROJECT_DIR/maven-repo
  MAVEN_OPTS: "-Xmx1g -XX:MaxPermSize=512m"

cache:
  paths:
    - $MAVEN_REPO/

build:
  stage: build
  script: xvfb-run mvn install -B -DskipTests -Dmaven.repo.local=$MAVEN_REPO
  artifacts:
    paths:
      - $MAVEN_REPO/ch/trick17/rolez
      - "*/target"
    expire_in: 1 day

test:
  stage: test
  script: xvfb-run mvn surefire:test -B -Dmaven.repo.local=$MAVEN_REPO

test-examples:
  stage: test
  script:
    - cd examples
    - for e in *; do pushd $e; mvn install -B -Dmaven.repo.local=$MAVEN_REPO; popd; done

pages:
  stage: deploy
  script: mvn deploy:deploy -B -Dmaven.repo.local=$MAVEN_REPO -DaltDeploymentRepository=snapshot-repo::default::file:public/maven
  artifacts:
    paths:
      - public
  only:
    - master