<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="ch.trick17.rolez.lang.target" sequenceNumber="20">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="false" type="InstallableUnit">
<unit id="it.xsemantics.runtime.feature.feature.group" version="0.0.0"/>
<repository location="https://dl.bintray.com/lorenzobettini/xsemantics/updates/1.9/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="false" type="InstallableUnit">
<unit id="org.eclipse.platform.feature.group" version="4.5.0.v20150603-2358"/>
<unit id="org.eclipse.draw2d.feature.group" version="3.10.0.201506010206"/>
<unit id="org.eclipse.emf.ecore.xcore.feature.group" version="1.3.0.v20150602-0808"/>
<unit id="org.eclipse.jdt.feature.group" version="3.11.0.v20150603-2000"/>
<unit id="org.eclipse.pde.feature.group" version="3.11.0.v20150603-2000"/>
<unit id="org.eclipse.emf.sdk.feature.group" version="2.11.0.v20150601-0402"/>
<repository location="http://download.eclipse.org/releases/mars/201506241002/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="false" type="InstallableUnit">
<unit id="org.eclipse.xtext.sdk.feature.group" version="2.10.0.v201605250459"/>
<repository location="http://download.eclipse.org/modeling/tmf/xtext/updates/releases/2.10.0"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="false" type="InstallableUnit">
<unit id="org.eclipse.emf.mwe2.launcher.feature.group" version="2.8.3.v201512160634"/>
<repository location="http://download.eclipse.org/modeling/emft/mwe/updates/releases/2.8.3/"/>
</location>
</locations>
<targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-1.8"/>
</target>
